@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Poppins&display=swap');
body {
  margin: 0;
  font-family: 'Open Sans' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #030303 !important;
  color: white !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  font-family: 'Open Sans' !important;
  background: #222222;
}

input[type="checkbox"] {
  cursor: pointer;
}


table.table tbody tr.selected, .hovered {
  --bs-table-accent-bg: var(--bs-table-hover-bg);
  color: var(--bs-table-hover-color);
}

table.table tbody tr.selected .cell-btn, 
.Disabled,.hovered {
  opacity: 0.5 !important;
  cursor: not-allowed !important;
  pointer-events: none !important;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: #8a8a8a;
  border-radius: 3px;
}

input[type="checkbox"]:checked {
  background-color: #f53535;
}

.spinner-border {
  height: 15px !important;
  width: 15px !important;
  border-width: 2px !important;
}